<h1>Add a product.</h1>

  <%= form_for @product do |f| %>
    Name: <%= f.text_field :name %>
    Description: <%= f.text_field :description %>
    Price: <%= f.number_field :price, class: :text_field, step: :any %>
    <%= f.submit "Submit" %>
  <% end %>

<br>
<section>
  <% @products.each do |product| %>
    <span><p><%= product.name %> | <%= link_to "UPDATE", edit_product_path(product) %> | <button><%= link_to "X", product_path(product), :method => "delete" %></button></p></span><br>
  <% end %>
</section>
